body {
  margin: 0;
  padding: 0;
  /* background: black; */
}

/* .background-gray {
  background-color: rgb(246,246,239);
} */

.material-icons {
  font-size: 0.75rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}
.w85 {
  width: 30%;
}
.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pv1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}